.contact-info-container {
    text-align: center;
    background-color: #F2F2F2;
    padding: 50px;
  }
  
  .contact-info-header {
    color: #333;
  }
  
  .contact-info-details {
    display: inline-block;
    text-align: left;
    margin-top: 40px;
    font-size: 18px;
  }
  
  .contact-info-support-link {
    color: #333;
  }