.containerBig {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.containerS {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.header {
  font-size: 3rem;
  margin-top: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px #333333;
}

.underHeader {
  font-size: 2rem;
  margin-top: 1rem;
  color: #ffffff;
  text-shadow: 2px 2px 2px #333333;
}

.images {
  margin-top: 3rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
}
